# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Testing
coverage/

# Misc
.DS_Store
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
